<div class="scanner-container">
  <mat-card class="scanner-card">
    <mat-card-header>
      <mat-card-title>QR Code Scanner</mat-card-title>
      
    </mat-card-header>

    <mat-card-content>
      <video id="videoElement" class="video-preview" autoplay></video>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <!-- Invitation Name -->
      <div *ngIf="invitationId" class="invitation">
        <p>Invitation : {{ invitationId }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
