.auth-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, #003366, #002244);
}

.auth-left {
  flex: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-right {
  flex: 3;
  background: linear-gradient(135deg, #003366, #0056b3); /* Same as login but glowing */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 85, 179, 0.5); /* Glowing effect */
}

.signup-section {
  text-align: center;
  padding: 20px;
  max-width: 300px;
  color: white;
}

.signup-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.signup-section p {
  font-size: 16px;
  margin-bottom: 20px;
}

.signup-button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #0056b3;

  &:hover {
    background-color: #003d80;
  }
}
