<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="assets/images/31ea10ce-987a-409e-9333-2a00962ad033.webp" class="d-block w-100" alt="party1">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/images/98dd2f73-6502-488e-b7e9-e39d2ff91d41.webp" class="d-block w-100" alt="party2">
        </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="assets/images/cd3d03b3-2680-4726-8c04-0a307c8e6ce5.webp" class="d-block w-100" alt="party3">
                
            </div>
    </div>
</div>

<app-view-cards></app-view-cards>
<app-contact></app-contact>
    