<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">EVENTS PORTAL</h5>
        <div class="row justify-content-center">
            <!-- Create Event -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <mat-card class="mat-elevation-z3 custom-card" (click)="CreateEvent()">
                    <mat-card-header class="card-header">
                        <div class="mat-card-title-wrapper">
                            <mat-card-title>Create Event</mat-card-title>
                        </div>
                    </mat-card-header>
                    <img mat-card-image src="https://th.bing.com/th/id/R.8d639588589f3b0245245ae375e5f157?rik=V%2fq0N6B1qPMaOw&pid=ImgRaw&r=0" alt="Create Event">
                    <mat-card-content>
                        <p>Easily create events of any type for your audience.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" class="btn-center" (click)="CreateEvent()">Create Event</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <!-- Scanner -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <mat-card class="mat-elevation-z3 custom-card" (click)="navigateToScanner()">
                    <mat-card-header class="card-header">
                        <div class="mat-card-title-wrapper">
                            <mat-card-title>Scan Invitation</mat-card-title>
                        </div>
                    </mat-card-header>
                    <img mat-card-image src="https://th.bing.com/th/id/OSK.HEROrofFo55IbnsG2bWuv7otj2GT8m9V-1tb0H_qNuDSooE?rs=1&pid=ImgDetMain" alt="Scan Invitation">
                    <mat-card-content>
                        <p>Scan your QR code to mark attendance for your event attendees.</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" class="btn-center" (click)="navigateToScanner()">Scan Now</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
   
</section>
